<div id="<%= dom_id todo %>">
  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= todo.body %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= todo.due_date %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= todo.completed %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= todo.tags %>
  </p>

  <p>
    <strong>User:</strong>
    <%= todo.user_id %>
  </p>

</div>
